<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seitenbeschreibung</title>
    <link rel="stylesheet" href="header.main.component.css">
</head>
<body>
    <div class="container">
        <h1 class="welcome-text">Herzlich Willkommen!</h1>
        <div class="tabs">
            <div class="tab-item active">Alles</div>
            <div class="tab-item">Wohnzimmer</div>
            <div class="tab-item">Schlafzimmer</div>
            <div class="tab-item">Garten</div>
        </div>
        <div class="chair-item" style="left: 10px; top: 202px;">
            <div class="chair-rectangle">
                <img src="Bürostuhl_blau.png" alt="Chair 1" class="chair-image">
            </div>
        </div>
        <div class="chair-item" style="left: 128px; top: 200px;">
            <div class="chair-rectangle">
                <img src="Bürostuhl.png" alt="Chair 2" class="chair-image">
            </div>
        </div>
        <!-- Add more chair items as needed -->
    </div>
    <div class="stool-info">
        <div class="chair-item" style="left: 35px; top: 200px;">
            <div class="button-container">
                <a href="content.chair.view.html" class="stool-rectangle">Bürostuhl</a>
            </div>
            <div class="chair-item" style="left: -59.5px; top: 133px;">
                <div class="chair-rectangle">
                    <img src="roterStuhlOhneHintergrund.png" alt="Chair 1" class="chair-image">
                </div>
            </div>
            <div class="chair-item" style="left: 60px; top: 130px;">
                <div class="chair-rectangle">
                    <img src="moderner_sessel.png" alt="Chair 2" class="chair-image">
                </div>
            </div>
            <!-- Add more chair items as needed -->
        </div>
        <div class="stool-info">
            <div class="chair-item" style="left: -425px; top: 321px;">
                <div class="stool-rectangle">
                    Sessel
                </div>
        </div>
    </div>
            <div class="chair-item" style="left: -205px; top: 480px;">
                <div class="chair-rectangle">
                    <img src="Blauer_hocker.png" alt="Chair 1" class="chair-image">
                </div>
            </div>
            <a href="content.chair.view.html" class="rectangle-secondary" style="left: 15px;"></a>
            <div class="chair-item" style="left: -85px; top: 500px;">
                <div class="chair-rectangle">
                    <img src="gelber_hocker.png" alt="Chair 2" class="chair-image">
                </div>
            </div>
        </div>
        <div class="stool-info">
            <div class="chair-item" style="left: 33px; top: 500px;">
                <div class="stool-rectangle">
                    Polsterhocker
                </div>
        </div>
    </div>
    <div class="chair-item" style="left: 315px; top: 675px; ;">
        <div class="chair-rectangle">
            <img src="moderner_stuhl.png" alt="Chair 1" class="chair-image">
        </div>
    </div>
    <div class="chair-item" style="left: 198px; top: 670px; ;">
        <div class="chair-rectangle">
            <img src="Weisser_moderner_stuhl.png" alt="Chair 1" class="chair-image">
        </div>
    </div>
<div class="stool-info">
    <div class="chair-item" style="left: -200px; top: 660px;">
        <div class="stool-rectangle">
            Moderne Stühle
        </div>
        <img src="Bildschirmfoto 2024-05-02 um 00.49.07.png" alt="Dashboard Screenshot" class="dashboard-screenshot">

</div>
</div>
</body>
</html>
