<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seitenbeschreibung</title>
    <link rel="stylesheet" href="content.chair.view.css">
</head>
<body>
    <div class="container">
        <h1 class="welcome-text">Herzlich Willkommen!</h1>
        <p class="intro-text">Jetzt finden wir den perfekten Schreibtischstuhl für dich!</p>
        <div class="chairs-wrapper">
            <div class="chair">
                <div class="rectangle">
                    <img src="roterStuhlOhneHintergrund.png" class="overlay-image" alt="Overlay Image">
                    <div class="dot" style="left: 20px; background-color: #8D2533;"></div>
                    <div class="dot" style="left: 55px; background-color: #9CB0A2;"></div> 
                    <div class="dot" style="left: 90px; background-color: #D49D2F;"></div>
                    <p class="price-text" style="left:20px;">CHF 210.00</p>
                    <img src="heart.png" class="heart" style="left: 200px" alt="Heart">
                    <a rel="ar" href="roter_stuhl.usdz" class="rectangle-secondary" style="left: 15px;">In AR sehen</a>
                        <script src="https://unpkg.com/@google/model-viewer"></script>
                    <div class="rectangle-secondary" style="left: 128px;">In den Warenkorb</div>
                    <div class="rectangle-secondary" style="left: 240px;">Rezensionen</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
